@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: bubble;
    src: url(../Fonts/Atop-R99O3.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
}

/* header text */
.headerText{
    position: absolute;
    top:0%;
    font-family: bubble;
    font-size:80px;
    margin-top:5rem;
    color: white;
}

/* Homepage Navbar */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(96, 98, 238);
    min-height: 100vh;
    gap: 30px;
    background-image: url('../images/dusk-background.svg');
    background-repeat: repeat;
    background-size: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

.quit-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    z-index: 1000;
    text-decoration: none;
}

.category-header {
    color: white;

}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 350px;
}

.category {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, #4a90e2, #7b68ee);
    width: 150px;
    height: 80px;
    border-radius: 10px;
    font-size: 20px;
}

.test-scores-a {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid transparent;
    color: white;
    background: linear-gradient(45deg, #4a90e2, #7b68ee);
    width: 130px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 5rem;
}