<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.learningapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jolt</name>
    <description>Learning and Gaming at the same time!</description>
    <author email="sanchez1.alan1@gmail.com" href="https://github.com/DerpNerdd">
        Alan and Daniel Mobile Application Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />

    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/splash.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#405186" /> <!-- Fallback background if needed -->

    <!-- Prevent Cropping -->
    <preference name="SplashMaintainAspectRatio" value="false" />

    <!-- Splash Screen Duration -->
    <preference name="SplashScreenDelay" value="3000" />

    </platform>
</widget>
